<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<ul><p><font size = "+2" color = "blue">List Posts that Is_Published = True</font></p></ul>
{% load static %}

{% if latest_question_post %}
    <ul>
        {% for post in latest_question_post %}
                <ul><li style="font-size: 35px";><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a></li></ul><br>
        {% endfor %}
    </ul>

{% else %}
    <p>No posts are available.</p>
{% endif %}


</body>
</html>

